<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AniDL Cloud</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/index.css" />
  
  <style>
    /* Gradient Background */
    body {
      background: linear-gradient(to bottom, #333, #000);
      color: #fff;
    }
    
    .navbar {
      background-color: #333;
    }

    /* Add more specific styles as needed */
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div id="navbar" class="container container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/static/logo.png" alt="Bootstrap" width="40" height="40" class="d-inline-block align-text-top">
        <span style="margin-left: 10px" class="navbar-brand mb-0 h1">AniDL Cloud</span>
      </a>
    </div>
  </nav>

  <div class="d-flex justify-content-center m-0 flex-wrap">
    <!-- Upload div -->
    <div id="udiv-main" class="card mx-3 my-5 text-center p-2">
      <h4>Upload your file</h4>
      <div id="udiv-inner" class="card p-2">
        <!-- Add your form content here -->
      </div>
    </div>

    <!-- Progress div -->
    <div id="udiv2-main" class="card m-5 text-center p-2" style="display:  none;">
      <h4 id="hstatus">Uploading...</h4>
      <div id="udiv-inner" class="card p-2">
        <!-- Add your progress content here -->
      </div>
    </div>
  </div>

  <div id="site-info-outer" class="py-5 pt-3">
    <div id="site-info" class="d-flex justify-content-center p-3">
      <div>
        <h4>Features:</h4>
        <ul class="list-group list list-group-numbered mx-4">
          <li class="list-group-item">Upload files up to 2GB</li>
          <li class="list-group-item">Upload files directly from your device</li>
          <li class="list-group-item">Upload files from direct download links</li>
          <li class="list-group-item">Free file hosting</li>
          <li class="list-group-item">Upload unlimited files</li>
          <li class="list-group-item">High Downloading speed</li>
          <li class="list-group-item">Links don't expire</li>
        </ul>
      </div>
    </div>
  </div>
</body>
<script src="../static/index.js"></script>

</html>
